{% extends "base.html" %}

{% block extra_css %}
<link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <section class="section">
        <h5>Streaming plateform</h5>

        <div class="row">
            <div class="col s12 m12 l12">
                <video id="my-video" class="video-js" controls preload="auto" 
                    width="900" height="600" poster="" data-setup="{}">
                <source src="https://4000-dot-6938585-dot-devshell.appspot.com/app/a337a1bc1984c1568dae.m3u8" type="application/x-mpegURL" />
            </div>
        </div>
    </section>
{% endblock %}

{% block vuejs_scripts %}
<script>
    var buttoncomponent = {
        props: ["color", "btnname", "method"],
        template: "\
        <button @click='streamaction' class='btn-large' :class='color'>\
            <i v-if='method===\"start\"' class='material-icons left'>play_arrow</i>\
            <i v-else class='material-icons left'>stop</i>\
            {{ btnname }}\
        </button>\
        ",
        methods: {
            geturl: function() {
                if (this.$props.method == "start") {
                    return "/start"
                } else {
                    return "/stop"
                }
            },
            streamaction: function() {
                var formdata = new FormData()
                formdata.append("key", "a337a1bc1984c1568dae")
                var promise = new Promise((resolve, reject) => {
                    var xhr = new XMLHttpRequest()
                    xhr.responseType = "json"
                    xhr.open("POST", this.geturl())
                    xhr.send(formdata)
                    resolve(xhr.response)
                })
                promise.then(response => {
                    setTimeout(() => {
                        window.location.href = response.redirect_to
                    }, 4000)
                })
            }
        }
    }
    var streamapp = new Vue({
        el: "#app",
        components: {buttoncomponent}
    })
</script>
{% endblock %}
